*~
*.pyc
*#
.#*
*.pkl
*.zip
*.bak
*.bag
*.py~
frames.pdf
frames.gv
*.jpeg
.env
*.png

# ROS specific files and folders #
##################################
build
devel
install
log
.rosinstall
.catkin_tools
.catkin_workspace
src/CMakeLists.txt
logs
__pycache__

# specific repo
###############
manip_challenge/manip_challenge/custom/perception/rgbd_crops
manip_challenge/manip_challenge/custom/perception/icp/results
manip_challenge/manip_challenge/custom/perception/two-view/results
manip_challenge/manip_challenge/custom/perception/results
manip_challenge/manip_challenge/pddl/debug/
